$sm-device: 320px;
$md-device: 768px;
$lg-device: 1024px;
$xl-device: 2560px;
$primary-color: #00529f;
$secondary-color: #00bdd3;
$primary-color-button-normal: #00529f;
$primary-color-button-hover: #043d74;
$primary-color-button-disabled: #b4b4b4;
$button-border-radius: 80px;
